.nav {
  font-family: 'Noto Serif', serif;
  font-weight: 700;
  background-color: rgb(155,221,255);
  text-align: center;
}

.nav ul {
  list-style-type: none;
  padding: 20px;
  overflow: hidden;
}

.nav li {
   display:inline;
}

a:link, a:visited {
  color: black;
  text-decoration: none;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
}

header {
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-size: large;
}

.info {
  font-family: 'Lobster', cursive;
  text-align: center;
  font-size: 1.5em;
}

.my-pic {
  max-width: 100%;
  height: auto;
  border-radius: 20%;
  text-align: center;
}

body {
  background-color: rgb(104,204,255);
}
  